div.floor-icons
    div(style="left: 270px; top: 133px;").icon.elevator
    div(style="left: 220px; top: 30px;").icon.stair
    div(style="left: 460px; top: 30px;").icon.stair
    div(style="left: 430px; top: 310px;").icon.stair
    div(style="left: 250px; top: 310px;").icon.stair