div.floor-icons
    div(style="left: 330px; top: 295px;").icon.wc
    div(style="left: 315px; top: 25px;").icon.money
    div(style="left: 370px; top: 390px;").icon.money
    div(style="left: 323px; top: 135px;").icon.elevator
    div(style="left: 250px; top: 50px;").icon.stair
    div(style="left: 240px; top: 295px;").icon.stair
    div(style="left: 440px; top: 295px;").icon.stair
