div.floor-icons
    div(style="left: 255px; top: 130px;").icon.elevator
    div(style="left: 220px; top: 30px;").icon.stair
    div(style="left: 460px; top: 30px;").icon.stair
    div(style="left: 430px; top: 275px;").icon.stair
    div(style="left: 250px; top: 275px;").icon.stair