div.floor-icons
    div(style="left: 285px; top: 150px;").icon.elevator
    div(style="left: 220px; top: 30px;").icon.stair
    div(style="left: 460px; top: 30px;").icon.stair
    div(style="left: 420px; top: 150px;").icon.wc