div.floor-icons
    div(style="left: 280px; top: 170px;").icon.elevator
    div(style="left: 220px; top: 30px;").icon.stair
    div(style="left: 460px; top: 30px;").icon.stair
    div(style="left: 280px; top: 220px;").icon.wc