div#desc-floor-4.floor-desc
      
      div#desc-room_402.desc(style="left:0px; top:0px; width:145px; height:130px")
      div#desc-room_403.desc(style="left:0px; top:130px; width:145px; height:90px")
      div#desc-room_404.desc(style="left:0px; top:220px; width:145px; height:70px")
      div#desc-room_405.desc(style="left:0px; top:290px; width:145px; height:140px")
      div#desc-room_406.desc(style="left:200px; top:325px; width:95px; height:105px")
      div#desc-room_407.desc(style="left:295px; top:325px; width:95px; height:105px")
      div#desc-room_408.desc(style="left:390px; top:325px; width:90px; height:105px")
      div#desc-room_409.desc(style="left:480px; top:325px; width:90px; height:105px")
      div#desc-room_410.desc(style="left:570px; top:275px; width:115px; height:155px")
      div#desc-room_411.desc(style="left:570px; top:200px; width:115px; height:75px")
      div#desc-room_412.desc(style="left:570px; top:130px; width:115px; height:70px")
      div#desc-room_414.desc(style="left:500px; top:0px; width:185px; height:100px")
      div#desc-room_415.desc(style="left:260px; top:0px; width:90px; height:100px")
      div#desc-room_416.desc(style="left:350px; top:0px; width:90px; height:100px")
      div#desc-room_417.desc(style="left:180px; top:130px; width:75px; height:60px")
      div#desc-room_418.desc(style="left:330px; top:130px; width:60px; height:60px")
      div#desc-room_419.desc(style="left:180px; top:190px; width:220px; height:100px")
      div#desc-room_421.desc(style="left:400px; top:190px; width:140px; height:100px")