div#desc-floor-5.floor-desc
    
    div#desc-room_502.desc(style="left:0px; top:0px; width:200px; height:215px;")
    div#desc-room_503.desc(style="left:260px; top:0px; width:90px; height:110px;")
    div#desc-room_507.desc(style="left:350px; top:0px; width:90px; height:110px;")
    div#desc-room_508.desc(style="left:320px; top:160px; width:90px; height:100px;")
    div#desc-room_509.desc(style="left:200px; top:260px; width:210px; height:85px;")
    div#desc-room_510.desc(style="left:200px; top:345px; width:210px; height:85px;")
    div#desc-room_511.desc.desc--rotate(style="left:445px; top:160px; width:100px; height:120px;")
    div#desc-room_512.desc(style="left:445px; top:280px; width:100px; height:100px;")
    div#desc-room_513.desc.desc--rotate(style="left:575px; top:160px; width:110px; height:270px;")
    div#desc-room_514.desc(style="left:500px; top:0px; width:185px; height:110px;")
    div#desc-room_515.desc.desc--rotate(style="left:0px; top:215px; width:120px; height:215px;")