div#desc-floor-2.floor-desc
    
    div#desc-room_202.desc(style = "left:0px; top:0px; width:200px; height:100px;")
    div#desc-room_203.desc(style = "left:0px; top:100px; width:140px; height:140px;")
    div#desc-room_204.desc(style = "left:0px; top:240px; width:140px; height:80px;")
    div#desc-room_205.desc(style = "left:0px; top:320px; width:230px; height:110px;")
    div#desc-room_206.desc(style = "left:260px; top:0px; width:95px; height:100px;")
    div#desc-room_207.desc(style = "left:355px; top:0px; width:85px; height:100px;")
    div#desc-room_208.desc(style = "left:500px; top:0px; width:85px; height:100px;")
    div#desc-room_209.desc(style = "left:585px; top:0px; width:100px; height:140px;")
    div#desc-room_210.desc(style = "left:585px; top:140px; width:100px; height:105px;")
    div#desc-room_211.desc(style = "left:585px; top:245px; width:100px; height:75px;")
    div#desc-room_212.desc(style = "left:485px; top:320px; width:200px; height:110px;")
    div#desc-room_213.desc(style = "left:465px; top:125px; width:90px; height:160px;")
    div#desc-room_214.desc(style = "left:170px; top:125px; width:60px; height:130px;")
    div#desc-room_215.desc(style = "left:230px; top:160px; width:80px; height:125px;")
    div#desc-room_215.desc(style = "left:310px; top:175px; width:155px; height:110px;")