div#desc-floor-1.floor-desc

    div#desc-room_101(style="left: 0px;   top: 0px;   width: 225px; height: 100px;").desc
    div#desc-room_102(style="left: 0px;   top: 100px; width: 175px; height: 110px;").desc
    div#desc-room_103(style="left: 0px;   top: 210px; width: 175px; height: 50px; ").desc
    div#desc-room_104(style="left: 0px;   top: 260px; width: 175px; height: 70px; ").desc
    div#desc-room_105(style="left: 0px;   top: 330px; width: 210px; height: 100px;").desc
    div#desc-room_106(style="left: 210px; top: 330px; width: 100px; height: 100px;").desc
    div#desc-room_107(style="left: 415px; top: 330px; width: 70px;  height: 100px;").desc.desc--rotate
    div#desc-room_108(style="left: 485px; top: 330px; width: 200px; height: 100px;").desc
    div#desc-room_109(style="left: 560px; top: 270px; width: 125px; height: 60px; ").desc
    div#desc-room_110(style="left: 560px; top: 95px;  width: 125px; height: 175px;").desc
    div#desc-room_111(style="left: 435px; top: 95px;  width: 90px;  height: 180px;").desc.desc--rotate
    div#desc-room_112(style="left: 215px; top: 125px; width: 95px;  height: 40px; ").desc
    div#desc-room_113(style="left: 355px; top: 0px;   width: 120px; height: 95px;").desc
    div#desc-room_114(style="left: 475px; top: 0px;   width: 210px; height: 75px; ").desc
    div#desc-room_115(style="left: 215px; top: 165px; width: 220px; height: 110px;").desc