div#desc-floor-3.floor-desc
    
    div#desc-room_302.desc.desc--rotate(style="left:0px; top:0px; width:140px; height:190px")
    div#desc-room_303.desc(style="left:0px; top:190px; width:140px; height:120px")
    div#desc-room_304.desc(style="left:0px; top:310px; width:190px; height:120px")
    div#desc-room_306.desc(style="left:260px; top:0px; width:180px; height:90px" )
    div#desc-room_305.desc(style="left:190px; top:310px; width:100px; height:120px")
    div#desc-room_306.desc(style="left:290px; top:310px; width:100px; height:120px")
    div#desc-room_307.desc(style="left:390px; top:310px; width:195px; height:120px")
    div#desc-room_308.desc.desc--rotate(style="left:585px; top:125px; width:100px; height:305px")
    div#desc-room_309.desc.desc--rotate(style="left:585px; top:0px; width:100px; height:125px")
    div#desc-room_310.desc(style="left:500px; top:0px; width:85px; height:90px")
    div#desc-room_311.desc(style="left:170px; top:160px; width:140px; height:100px")
    div#desc-room_312.desc(style="left:430px; top:120px; width:115px; height:140px")
    div#desc-room_314.desc(style="left:310px; top:120px; width:120px; height:140px")