div#floor5.floor

    include ../descriptions/floor5
    include ../icons/floor5
    
    svg(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
            rect#room_502.store(x="0" y="0" width="200" height="215")
            rect#room_503.store(x="260" y="0" width="90" height="110")
            rect#room_507.store(x="350" y="0" width="90" height="110")
            rect#room_508.store(x="320" y="160" width="90" height="100")
            rect#room_509.store(x="200" y="260" width="210" height="85")
            rect#room_510.store(x="200" y="345" width="210" height="85")
            rect#room_511.store(x="445" y="160" width="100" height="120")
            rect#room_512.store(x="445" y="280" width="100" height="100")
            rect#room_513.store(x="575" y="160" width="110" height="270")
            path#room_514.store(d="m500,0 h185 v160 h-110 v-50 h-75 v-110z")
            path#room_515.store(d="m0,215 h120 v130 h80 v85 h-200 v-215z")