div#floor1.floor
    
    include ../descriptions/floor1
    include ../icons/floor1

    svg(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
            rect#room_101.store(x="0" y="0" width="225" height="100")
            rect#room_102.store(x="0" y="100" width="175" height="110")
            rect#room_103.store(x="0" y="210" width="175" height="50")
            rect#room_104.store(x="0" y="260" width="175" height="70")
            rect#room_105.store(x="0" y="330" width="210" height="100")
            rect#room_106.store(x="210" y="330" width="100" height="100")
            rect#room_107.store(x="415" y="330" width="70" height="100")
            rect#room_108.store(x="485" y="330" width="200" height="100")
            rect#room_109.store(x="560" y="270" width="125" height="60")
            rect#room_110.store(x="560" y="95" width="125" height="175")
            rect#room_111.store(x="435" y="95" width="90" height="180")
            rect#room_112.store(x="215" y="125" width="95" height="40")
            path#room_113.store(d="m355,0 h120 v65 h30 v30 h-150 v-95z")
            path#room_114.store(d="m475,0 h210 v95 h-125 v-30 h-85 v-65z")
            path#room_115.store(d="m355,95 h80 v180 h-220 v-110 h140 v-70z")