div#floor3.floor
    
    include ../descriptions/floor3
    include ../icons/floor3

    svg(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
            path#room_302.store(d="m0,0 h200 v90 h-60 v100 h-140 v-190z")
            rect#room_303.store(x="0" y="190" width="140" height="120")
            rect#room_304.store(x="0" y="310" width="190" height="120")
            rect#room_306.store(x="260" y="0" width="180" height="90" )
            rect#room_305.store(x="190" y="310" width="100" height="120")
            rect#room_306.store(x="290" y="310" width="100" height="120")
            rect#room_307.store(x="390" y="310" width="195" height="120")
            rect#room_308.store(x="585" y="125" width="100" height="305")
            rect#room_309.store(x="585" y="0" width="100" height="125")
            rect#room_310.store(x="500" y="0" width="85" height="90")
            rect#room_311.store(x="170" y="160" width="140" height="100")
            rect#room_312.store(x="430" y="120" width="115" height="140")
            path#room_314.store(d="m300,120 h130 v140 h-120 v-100 h-20 v-40z")