div#floor4.floor
      
      include ../descriptions/floor4
      include ../icons/floor4

      svg(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
            g
                  path#room_402.store(d="m0,0 h200 v100 h-55 v30 h-145 v-130z")
                  rect#room_403.store(x="0" y="130" width="145" height="90")
                  rect#room_404.store(x="0" y="220" width="145" height="70")
                  path#room_405.store(d="m0,290 h145  v35 h55 v105 h-200 v-140z")
                  rect#room_406.store(x="200" y="325" width="95" height="105")
                  rect#room_407.store(x="295" y="325" width="95" height="105")
                  rect#room_408.store(x="390" y="325" width="90" height="105")
                  rect#room_409.store(x="480" y="325" width="90" height="105")
                  rect#room_410.store(x="570" y="275" width="115" height="155")
                  rect#room_411.store(x="570" y="200" width="115" height="75")
                  rect#room_412.store(x="570" y="130" width="115" height="70")
                  path#room_414.store(d="m500,0 h185 v130 h-115 v-30 h-70 v-100z")
                  rect#room_415.store(x="260" y="0" width="90" height="100")
                  rect#room_416.store(x="350" y="0" width="90" height="100")
                  rect#room_417.store(x="180" y="130" width="75" height="60")
                  rect#room_418.store(x="330" y="130" width="60" height="60")
                  rect#room_419.store(x="180" y="190" width="220" height="100")
                  path#room_421.store(d="m470,130 h70 v160 h-140 v-100 h70 v-60z")