div#floor2.floor

    include ../descriptions/floor2
    include ../icons/floor2

    svg(width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
        g
            rect#room_202.store(x="0" y="0" width="200" height="100" )
            rect#room_203.store(x="0" y="100" width="140" height="140")
            rect#room_204.store(x="0" y="240" width="140" height="80")
            rect#room_205.store(x="0" y="320" width="230" height="110")
            rect#room_206.store(x="260" y="0" width="95" height="100" )
            rect#room_207.store(x="355" y="0" width="85" height="100" )
            rect#room_208.store(x="500" y="0" width="85" height="100" )
            rect#room_209.store(x="585" y="0" width="100" height="140")
            rect#room_210.store(x="585" y="140" width="100" height="105")
            rect#room_211.store(x="585" y="245" width="100" height="75")
            rect#room_212.store(x="485" y="320" width="200" height="110")
            rect#room_213.store(x="465" y="125" width="90" height="160")
            rect#room_214.store(x="170" y="125" width="60" height="130")
            path#room_215.store(d="m230,125 h30 v35 h50 v125 h-80 v-155z")
            path#room_216.store(d="m300,125 h90 v50 h75 v110 h-155 v-125  h-10 v-30z")