script(type="text/template" id="popup-template")
    div.popup-item
        div.popup-item__name <%- obj.name  %>
        div.popup-item__image 
            img(src = "http://www.univerbyt.ru/upload/<%- obj.picture  %>")
        div.popup-item__www Сайт:  <%- obj.www  %>
        div.popup-item__tel Тел.:  <%- obj.tel  %>
        div.popup-item__email e-mail:  <%- obj.email  %>
        div.popup-item__text  <%- obj.text  %>

script(type="text/template" id="store-template")
    div.store-tpl
        span <%- obj.name  %>