<!DOCTYPE html>
html
    head
        meta(content="text/html; charset=windows-1251")
        title Map
        link(rel="stylesheet", href="./css/bundle.css")
        link(rel="stylesheet", href="./css/style.css")

    body
        div.map
            div.floors
                include components/floors/floor1
                include components/floors/floor2
                include components/floors/floor3
                include components/floors/floor4
                include components/floors/floor5
                include components/popup

            div.controls
                div.control#j-control-1 1
                div.control#j-control-2 2
                div.control#j-control-3 3
                div.control#j-control-4 4
                div.control#j-control-5 5

        include components/templates

        script(src="./js/bundle.js")
        script(src="./js/bootstrap.js")
