control-size = 50px

.controls
	padding-top 15px
	display flex
	justify-content center

.control
	display flex
	justify-content center
	align-items center
	vertical-align middle
	text-align center
	height control-size
	width control-size
	cursor pointer
	margin 0 5px
	border 2px solid color1
	color color1
	border-radius control-size
	
	&.active,
	&:hover
		background color1
		color #F
		transition background .3s,
					color .3s