.floor
	display none
	position absolute
	margin 25px
	padding 10px
	height 440px
	width 700px
	background rgba(color1, .2)
	
	&.active
		display block
		
	> svg
		padding 1px
		> g
			transform scale(1)