.icon
	height 40px
	width 40px
	background-size cover
	position absolute
	
	&.wc
		background-image url('../img/wc.png')
	&.stair
		background-image url('../img/stair.png')
	&.elevator
		background-image url('../img/elevator.png')
	&.money
		background-image url('../img/money.png')