.popup
	height 300px
	width 500px
	background #f
	border 5px solid color1
	border-radius 10px
	position absolute
	top 15%
	left 150px
	
	&__container
		height 250px
		padding 20px
		overflow auto
		
	&__close-btn
		position absolute
		top 5px
		right 5px
		height 20px
		width 20px
		display flex
		justify-content center
		align-items center
		cursor pointer
		background url('../img/close.svg')
		background-size cover
		
	&-item
		&__name
			text-align center
			font-size 2em
			
		&__image
			text-align center
			margin-bottom 25px
			
		&__text
			margin-top 25px